{% extends 'layouts/layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title">Register</h1>
                <div class="box">
                    {{ form_start(registrationForm) }}
                        <div class="field">
                            {{ form_row(registrationForm.pseudo) }}
                        </div>
                        <div class="field">
                            {{ form_row(registrationForm.nom) }}
                        </div>
                        <div class="field">
                            {{ form_row(registrationForm.prenom) }}
                        </div>
                        <div class="field">
                            {{ form_row(registrationForm.mail) }}
                        </div>
                        <div class="field">
                            {{ form_row(registrationForm.telephone) }}
                        </div>
                        <div class="field">
                            {{ form_row(registrationForm.site) }}
                        </div>
                         <div class="field">
                            {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
                        </div>
                        <div class="field">
                            {{ form_row(registrationForm.administrateur) }}
                        </div>
                        <div class="field">
                            {#        {{ form_row(registrationForm.agreeTerms) }}#}
                        </div>
                        <footer class="card-footer">
                            <div class="card-footer-item mt-4 mb-4">
                             <button type="submit" class="button is-primary">
                                  Ajouter l'utilisateur !
                             </button>
                             </div>
                        </footer>
                    {{ form_end(registrationForm) }}
                    <footer class="card-footer">
                        <!-- Ajout d'utilisateurs via fichier CSV -->
                        <h2>Import d'utilisateurs</h2>
                        <hr>
                        <div class="has-text-centered mt-6 mb-4">
                            <a href="{{ path('app_user_import') }}" class="button is-link">
                                Importer des utilisateurs via CSV
                            </a>
                        </div>
                    </footer>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
