{% extends 'layouts/layout.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}
    <div class="box">


        <h2>Bienvenue sur la page d'accueil</h2>
        <p>Ceci est la zone de contenu avec un fond jaune pastel pour la différencier.</p>
        <p>Ajoute ici tes composants, listes ou formulaires à ton goût.</p>


        <table>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture</th>
                <th>Etat</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{ form_start(filterForm) }}
            {{ form_widget(filterForm) }}
            {{ form_end(filterForm) }}

            {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date('d/m/Y') }}</td>
                <td>{{ sortie.dateLimiteInscription | date('d/m/Y') }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td> {% if app.user is not null and sortie.organisateur.id == app.user.id %}
                        <a href="{{ path('app_profil') }}">{{ sortie.organisateur.nom }}</a>
                    {% else %}
                        <a href="{{ path('app_profil_id', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }}</a>
                    {% endif %}</td>
                <td><a href="{{ path('app_detailSortie', {'id': sortie.id}) }}">Afficher</a>
                {% if app.user == sortie.organisateur and sortie.etat.libelle=='Créée' %}
                    <form  action="{{ path('publier', {'id': sortie.id}) }}" method="POST">
                        <button type="submit">Publier</button>
                    </form>
                    {% endif %}
                    {% if app.user == sortie.organisateur and sortie.etat.libelle=='Ouverte' %}
                    <a href="{{ path('annulation_confirm', {'id': sortie.id}) }}">Annuler</a>
                    {% endif %}

                </td>

{% endfor %}
        </tbody>

        </table>
    </div>

{% endblock %}
