{% extends 'layouts/layout.html.twig' %}

{% block title %}Modifie ton profil{% endblock %}

{% block content %}

    <div class="columns is-centered">
        <div class="column is-6">
            <div class="box">


                <h1 class="block title">Modifier ton profil</h1>
                    <div class="field-body">
                        <div class="field">


                        <form method="post" class="needs-validation" novalidate>
                            {{ form_start(form, { 'attr': { 'class': 'row g-3' } }) }}

                            <div class="">
                                {{ form_row(form.pseudo, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                            <div class="">
                                {{ form_row(form.nom, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                            <div class="">
                                {{ form_row(form.prenom, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                            <div class="">
                                {{ form_row(form.telephone, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                            <div class="">
                                {{ form_row(form.mail, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                            <div class="">
                                {{ form_row(form.password.first, {
                                    'label': 'Nouveau mot de passe',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="">
                                {{ form_row(form.password.second, {
                                    'label': 'Confirmez le mot de passe',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>

                            <div class="control field is-grouped is-grouped-right">
                                <button class="button is-primary">
                                    <a href="{{ path('app_profil_edit') }}">
                                        Modifier
                                    </a>
                                </button>
                            </div>

                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
