<nav class="fixed top-0 left-0 right-0 z-50">
{#      {% if admin %}#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="#">Villes</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="#">Sites</a>#}
{#        </li>#}
{#    {% endif %}#}
    <ul class="flex justify-center space-x-6 p-4 bg-teal-700 bg-opacity-60 backdrop-blur-md shadow-lg">


        {% if is_granted('ROLE_ADMIN') %}
            <li><a class="text-gray-200 hover:text-teal-800 transition-colors" href="{{ path('app_register') }}">Inscription
                    utilisateur</a></li>
            <li><a class="text-gray-200 hover:text-teal-800 transition-colors" href="{{ path('app_participants') }}">Gestion
                    des participants</a></li>
        {% endif %}
        {% if app.user %}
            <li><a class="text-gray-200 hover:text-teal-800 transition-colors" href="/">Accueil</a></li>
            <li><a class="text-gray-200 hover:text-teal-800 transition-colors" href="{{ path('app_profil') }}">Mon
                    profil</a></li>
            <li class="hidden md:flex"><a class="text-gray-200 hover:text-teal-800 transition-colors"
                                          href="{{ path('app_createSortie') }}">Créer une sortie</a></li>
            <li><a class="text-gray-200 hover:text-teal-800 transition-colors" href="{{ path('app_logout') }}">Se
                    déconnecter</a></li>

        {% endif %}
    </ul>
</nav>
