{% extends 'layouts/layout.html.twig' %}

{% block title %}Créer une sortie !{% endblock %}

{% block content %}

    <h2>Créer une sortie !</h2>

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    {{ form_widget(lieuForm) }}
    <button>Ajouter une sortie !</button>
    {{ form_end(sortieForm) }}

    <script src="{{ asset('js/ville.js') }}"></script>

{% endblock %}
