{% extends 'layouts/layout.html.twig' %}
{% block title %}Créer une sortie !{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="card">
                        <!-- En-tête de la card -->
                        <header class="card-header">
                            <p class="card-header-title has-text-centered">
                                Créer une sortie
                            </p>
                        </header>

                        <!-- Début du formulaire -->
                        {{ form_start(sortieForm) }}

                        <!-- Contenu de la card -->
                        <div class="card-content">
                            <div class="content">
                                {{ form_widget(sortieForm) }}
                                {{ form_row(lieuForm.nom) }}
                                {{ form_row(lieuForm.rue) }}
                                {{ form_widget(lieuForm.latitude, {'attr': {'style': 'display: none'}}) }}
                                {{ form_widget(lieuForm.longitude, {'attr': {'style': 'display: none'}}) }}

                                {# {{ dump(lieuForm.latitude.vars.id)  }} #}
                                {# {{ dump(lieuForm.longitude.vars.id)  }} #}

                                <div id="map" style="height: 400px;"></div>
                                {#    <input type="text" id="latitude" name="latitude" readonly> #}
                                {#    <input type="text" id="longitude" name="longitude" readonly> #}

                                {{ form_widget(villeForm) }}
                            </div>
                        </div>

                        <!-- Pied de la card -->
                        <footer class="card-footer">
                            <div class="card-footer-item">
                                <button type="submit" class="button is-primary" >
                                    Ajouter une sortie !
                                </button>
                            </div>
                        </footer>

                        {{ form_end(sortieForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Script pour gérer la date limite en fonction de la date de début -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Utilisez les IDs générés par Symfony
            const dateDebut = document.getElementById('{{ sortieForm.dateHeureDebut.vars.id }}');
            const dateLimite = document.getElementById('{{ sortieForm.dateLimiteInscription.vars.id }}');


            if (dateDebut && dateLimite) {
                dateDebut.addEventListener('change', function () {
                    dateLimite.max = this.value;
                    if (new Date(dateLimite.value) > new Date(this.value)) {
                        dateLimite.value = '';
                    }
                });

                // Initialiser la valeur max si dateHeureDebut a déjà une valeur
                if (dateDebut.value) {
                    dateLimite.max = dateDebut.value;
                }
            }


            var map = L.map('map').setView([48.1173, -1.6778], 13); // Coordenadas iniciales (París)

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);

            var marker = L.marker([48.8566, 2.3522], {draggable: true}).addTo(map);

            function updateLatLng(lat, lng) {
                document.getElementById("lieu_latitude").value = lat;
                document.getElementById("lieu_longitude").value = lng;
            }

            marker.on('dragend', function (event) {
                var position = marker.getLatLng();
                console.log("Marker movido:", position.lat, position.lng);
                updateLatLng(position.lat, position.lng);
            });
            map.on('click', function (event) {
                marker.setLatLng(event.latlng);
                updateLatLng(event.latlng.lat, event.latlng.lng);
            });
        });

    </script>

{% endblock %}
